header {
    width: 100%;
    height: var(--header-mobile-height);


    .container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;

        .header_left {
            display: flex;
            align-items: center;

            .logo {
                margin-left: 16px;
            }
        }

        .header_right {
            display: flex;

            .cart-icon {
                margin-right: 24px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            .user-avatar {
                background-image: url(@/assets/images/image-avatar.png);
                background-position: center;
                background-size: cover;
                height: 36px;
                width: 36px;
                border: 3px solid var(--color-background);
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    border-color: var(--orange);
                }
            }
        }
    }


}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;

    .product__images {
        height: var(--product-image--container-height);
        margin-bottom: 32px;
        position: relative;
    }

    .product__infos {
        padding: 0 12px;

        h4 {
            color: var(--orange);
        }

        h1 {
            color: var(--black);
            padding: 12px 0;
        }
    }


    .product__price {
        padding: 12px 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .main-price {
            display: flex;
            align-items: center;
            gap: 12px;

            h2 {
                color: var(--black);
            }

            span {
                padding: 2px 4px;
                color: var(--orange);
                background-color: var(--orange-background);
                border-radius: var(--border-radius);
            }
        }

        .old-price {
            text-decoration: line-through;
        }
    }

    .product__action {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;

        &>div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--gray-smooth);
            padding: 12px 16px;
            border-radius: var(--border-radius);

            svg:nth-of-type(n) {
                cursor: pointer;
            }

            span {
                color: var(--black);
                font-weight: 600;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .main {
        flex-direction: row;
    }
}