nav {
    display: none;
    height: 100%;

    ul {
        height: 100%;
        display: flex;

        li {
            height: 100%;
            width: var(--navbar-item-width);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            list-style: none;
            display: flex;
            margin-right: 12px;
            cursor: pointer;
            border-bottom: 5px solid var(--color-background);

            &:hover {
                color: var(--black);
                border-bottom-color: var(--orange);
            }
        }
    }
}